.dropdown
  ul
    li
      a(href="#") Home
    li
      a(href="#") Menu 1
      ul
        li
          a(href="#") Action 1.1
          ul
            li
              a(href="#") Action 1.1.1
            li
              a(href="#") Action 1.1.2
        li
          a(href="#") Action 1.2
        li
          a(href="#") Action 1.3
    li
      a(href="#") Menu 2
      ul
        li
          a(href="#") Action 2.1
        li
          a(href="#") Action 2.2
        li
          a(href="#") Action 2.3
          ul
            li
              a(href="#") Action 2.3.1
            li
              a(href="#") Action 2.3.2
            li
              a(href="#") Action 2.3.3
            li
              a(href="#") Action 2.3.4
